<!DOCTYPE html> <!--document de tip html-->
<html lang="ro"> <!--am setat limba romana-->
 <head>

   <title>Raftul comun</title>

  <meta name="keywords" content="carte, bestseller, carti, nou, volum, serie, romantic, actiune, horror, istorie, fictiune, educational, copii"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
  <meta name="description" content="Carti online, Audiobook-uri, promotii, cele mai bune preturi"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->

  <%- include("../fragmente/head.ejs") %>


 </head>

 <body>

  <%- include("../fragmente/header.ejs") %>
<main>

    <h3>Pagina noua!</h3>

</main>

<%- include("../fragmente/footer.ejs") %>

  </body>
</html>