html{
    font-size: 15px;
}

body{
    --spatiere-pagina: 30px;
    --padding-section: 10px;
}

#grid-pagina{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "z-welcome z-welcome z-welcome"
                        "z-prezentare z-prezentare z-prezentare"
                        "z-lista-utilizatori z-date-utilizatori-statistica z-date-site-server"
                        "z-calendar z-tabel z-tabel"
                        "z-anunturi z-tabel z-tabel"
                        "z-diverse z-diverse z-diverse"
                        "z-footer z-footer z-footer"
                        ;
     gap: 10px 5px;

}

#columnc {
    column-count: 1;
}

#imagine {
    position: relative;
    background-image: url("/resurse/imagini/tricouri de cuplu.png");
    background-size: cover;
    width: 500px;
    height: 400px;
    transition: all 2s linear;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border: 3px solid var(--culoare3);
    overflow: hidden;
}

#imagine:after,
#imagine:before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 1s linear;
}

#imagine:after {
    background-color: var(--culoare4);
    /* mix-blend-mode: lighten; */
    opacity: 0.3;
    right: -100%;
}

#imagine:before {
    background-color: var(--culoare1);
    mix-blend-mode: darken;
    opacity: 0.7;
    left: -100%;
}


#imagine:hover:after {
    right: 0;
}

#imagine:hover:before {
    left: 0;
}