<section id="footer">
  
    <p>Contact:</p>
    <div id="link">
    <a href="tel:+40759472971">Telefon</a>
    <br>
    <a href="https://wa.link/6e5s3i">Link WhatsApp</a>
    <br>
    <a href="mailto:Raftul_Comun@gmail.com">Mail</a>
    <br>
    <a href="https://goo.gl/maps/DYxfcuZfAWw68jnRA" target="_blank">Adresa</a>

  </div>

  <br>

    <div id="banner">Acesta este un proiect scolar!</div>

    <p><small>Copyright &copy;Raftul Comun</small></p>
    <p><time datetime="2023-02-01 12:38">2023-02-01 12:38</time></p>
  </section>

<div id="outer1">
  <a id="back-to-top1" href="#">
      <div id="inner1" title="Top">&#129081;</div>
  </a>
</div>