<header>

  <h1 id="header">Bine ati venit!<i class="fa-solid fa-fan fa-spin"></i></h1>
</header>
<nav>

    <label id="hamburger" for="ch-menu">
      <img src="resurse/imagini/more.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
      <li>
        <div id="acasa"><span class="fas fa-regular fa-house"></span> Acasa</div>
          <div id="acasa-mic"><span class="fas fa-regular fa-house"></span></div>
      
        <ul>

          <li><a href="#lista-utilizatori"><span class="arrow">→</span>Bestseller</a></li>
          <li><a><span class="arrow">→</span> Audiobook</a></li>

        </ul>

      </li>
      <li><div>Noutati <i class="fa-regular fa-star"></i></div></li>

      <li><a href="#promotii"><div>Promotii <i class="fa-solid fa-book"></i></div></a></li>

    </ul>
  </nav>
