<script src="/resurse/js/tema.js"></script>
<header>

  <h1 id="header">Bine ati venit!<i class="fa-solid fa-fan fa-spin"></i></h1>
  <div class="theme-wrapper">
    <div class="custom-control custom-switch">
      <div class="theme-pic" style="margin-bottom:2px; margin-right:2px;">
        <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 16 16">
          <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </svg>
        &nbsp;
      </div>
      &nbsp;
      <div class="form-switch">
        <input class="form-check-input" type="checkbox" id="tema">
      </div>
      <div class="theme-pic" style="margin-bottom:5px;">
        <svg xmlns=" http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
          <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
        </svg>
      </div>
    </div>
  </div>
</header>
<nav>

    <label id="hamburger" for="ch-menu">
      <img src="resurse/imagini/more.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
      <li>
        <div id="acasa" href=""><span class="fas fa-regular fa-house"></span> Acasa</div>
          <div id="acasa-mic"><span class="fas fa-regular fa-house"></span></div>
      
        <ul>

          <li><a href="#lista-utilizatori"><span class="arrow">→</span>Bestseller</a></li>
          <li><a><span class="arrow">→</span> Audiobook</a></li>

        </ul>

      </li>
      <li><div>Noutati <i class="fa-regular fa-star"></i></div></li>

      <li><a href="#promotii"><div>Promotii <i class="fa-solid fa-book"></i></div></a></li>
      <li><a href="despre"><div>Despre Noi <span class="fa-solid fa-face-smile"></span></div></a></li>
      <li><a href='galerie'><div>Best Sellers <span class="fa-solid fa-image"></span></div></a></li>

      <li><div>Produse</div>
        <ul>
          <li><a href="/produse">Toate</a></li>
          <li><a href="/produse?tip=curier">Prin curier</a></li>
          <li><a href="/produse?tip=posta">Prin posta</a></li>
          <li><a href="/produse?tip=centru de distributie">Centru</a></li>
          <li><a href="/produse?tip=doar in magazin">In magazin</a></li>
        </ul>

        </li>

      <li><a href="/inregistrare">Inregistrare </a></li>
      
      <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
        <li><div>Administrare</div>
            <ul>
                <li><a href="/useri">Useri</a></li>
                <li><a href="/grafice">Grafice</a></li>
                <li><a href="/comenzi">Comenzi</a></li>
            </ul>
        </li>
    <% } %>
    <% if(locals.utilizator) { %>
        <li><div><%- locals.utilizator.username %></div>
            <ul>
                <li><a href="/profil">Profil</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </li>
    <% } %>
        
    </ul>
  </nav>
